openapi: 3.1.0
info:
  title: Silocat api_switch API
  version: 1.0.0
  description: |
    Internal HTTP API of the silocat `api_switch` service (Rust/axum, listens on :31337,
    exposed as api.silo.cat through Cloudflare and nginx).

    ### Trust model
    This API is service-to-service. Every request must carry the `X-Authority-Sign`
    header whose value equals the server's `AUTHORITY_SIGN` secret; only silocat's own
    backends (web_server SSR, the clickswave admin panel) hold it. A missing or wrong header yields
    `401 {"status":401,"message":"Unauthorized Origin","errors":[],"data":{}}` on every path.

    On top of that, a subset of `/user/*` routes additionally require the end user's
    `X-Api-Key` header (the `users.api_key` value). Banned accounts get 403 from that
    middleware. Most `/file/*`, `/folder/*` and `/billing/*` routes instead take
    `user_id` or `api_key` fields in the request payload and enforce ownership ad hoc;
    the calling backend is trusted to pass authentic values.

    ### Response envelope
    Unless noted otherwise, every response (success and error) is JSON of the shape
    `{status, message, errors, data}` where `status` mirrors the HTTP status code
    (mapped codes: 200, 201, 400, 401, 403, 404, 409, 413, 429, 500; anything else is
    sent as HTTP 500). `data` is `{}` or `null` on most errors. Exceptions:
    `GET /admin/files/{id}/download` streams raw bytes on success, and malformed JSON
    bodies produce axum's plain-text 400/415/422 rejections instead of the envelope.

    ### Uploads and downloads
    File bytes never pass through this API. `POST /file/create-files` returns one R2
    presigned PUT URL per chunk; clients upload directly to R2 and then call
    `POST /file/mark-chunk-complete` per chunk. Downloads work the same way with
    presigned GET URLs from `POST /file/fetch-chunks` or the public share endpoints.
servers:
  - url: https://api.silo.cat
    description: Production (Cloudflare fronted)
  - url: http://localhost:31337
    description: Local api_switch
security:
  - AuthoritySign: []
tags:
  - name: shadow
    description: Anonymous ("shadow") user tracking
  - name: user
    description: Accounts, sessions, profile, email verification, support tickets
  - name: file
    description: Chunked file storage, listing, trash, stars, share links
  - name: folder
    description: Folder tree management (legacy module, overlaps with some /file folder routes)
  - name: billing
    description: Razorpay orders, payment verification, promo codes, usage
  - name: auth
    description: Early access requests
  - name: admin
    description: Admin panel backend (no per-admin token enforced server side, X-Authority-Sign only)
paths:
  /validate-shadow-user:
    post:
      tags: [shadow]
      operationId: validateShadowUser
      summary: Upsert an anonymous (shadow) user and check IP bans
      description: |
        Records/refreshes an anonymous user keyed by its client-generated api_key
        (last_seen, server-observed IP, user agent, MaxMind geolocation). Client-sent
        IP or geo fields are ignored; the server derives them itself. The DB upsert is
        best effort, so a 200 does not guarantee the row was written.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [api_key]
              properties:
                api_key:
                  type: string
                user_agent:
                  type: string
                  default: ""
                  description: Falls back to the User-Agent request header when blank.
      responses:
        '200':
          description: Shadow user validated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: The server-observed IP has an active ban. data carries the ban details.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BanInfo'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'

  # ------------------------------------------------------------------ user ---
  /user/register-personal:
    post:
      tags: [user]
      operationId: userRegisterPersonal
      summary: Register a personal account
      description: |
        Creates an account with 50 GB default storage and emails a 6-digit OTP for
        email verification. When the SILOCAT_INVITE_ONLY env flag is on, a valid
        unclaimed invite code is required; invite benefits can raise the storage
        quota ("<N>GB") or attach a Pro subscription ("1m-pro", "3m-pro", "6m-pro",
        "1y-pro"). An optional signup promo code is redeemed best effort. The
        username field is currently not validated here.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                  maxLength: 47
                  description: Needs at least one lowercase, one uppercase and one digit; no whitespace.
                invite_code:
                  type: ['string', 'null']
                promo_code:
                  type: ['string', 'null']
                client_country:
                  type: ['string', 'null']
                  description: Two-letter ISO country code (from CF-IPCountry); invalid values are dropped and geoip is used instead.
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/UserTokenData'
        '400':
          description: Validation errors ("Your input contains errors") or missing invite code when invite-only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '409':
          description: Username or email already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/login:
    post:
      tags: [user]
      operationId: userLogin
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful ("Welcome back").
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/UserTokenData'
        '400':
          description: Email validation errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Invalid credentials (same response for unknown email and wrong password), or missing X-Authority-Sign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/storage-stats:
    post:
      tags: [user]
      operationId: userStorageStats
      summary: Fetch storage totals for a user
      description: |
        total = default_storage_bytes plus non-expired subscription additional_space;
        used = sum of completed, non-deleted file sizes; free = total minus used.
        Takes user_id in the body (service-trusted, no user token).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
      responses:
        '200':
          description: Storage stats fetched. data is the stats object itself (not nested under a key).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/StorageStats'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/google-auth:
    post:
      tags: [user]
      operationId: userGoogleAuth
      summary: Login or sign up via a Google OAuth authorization code
      description: |
        Exchanges the code with Google and either logs in the matching account (by
        email) or creates one (generated username, no password, email pre-verified,
        Google picture as profile image). Note: unlike /user/login, data here is the
        UserTokenData object directly, not wrapped in {"user": ...}, and subscription
        is always null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Google OAuth authorization code.
                redirect_uri:
                  type: ['string', 'null']
                  description: Must match the redirect_uri used by the frontend; falls back to the GOOGLE_REDIRECT_URI env var.
                client_country:
                  type: ['string', 'null']
      responses:
        '200':
          description: '"Login successful" (existing account) or "Signup successful" (new account).'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokenData'
        '400':
          description: Google rejected the code ("Google Auth Failed").
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/forgot-password:
    post:
      tags: [user]
      operationId: userForgotPassword
      summary: Request a password reset OTP by email
      description: Anti-enumeration, identical 200 whether or not the account exists. One OTP per 60 seconds.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
      responses:
        '200':
          description: If an account exists for that email, a reset code has been sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Email is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/reset-password:
    post:
      tags: [user]
      operationId: userResetPassword
      summary: Reset the password with an emailed OTP
      description: On success also marks the email verified and clears the OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp, new_password]
              properties:
                email:
                  type: string
                otp:
                  type: string
                new_password:
                  type: string
                  minLength: 8
                  maxLength: 47
      responses:
        '200':
          description: Password reset successful.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/UserTokenData'
        '400':
          description: Invalid new password, missing fields, or invalid/expired code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/avatar-url:
    get:
      tags: [user]
      operationId: userAvatarUrl
      summary: Get a short-lived presigned GET URL for a user's avatar
      description: Service-signed lookup used by the web_server avatar proxy.
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Presigned URL returned.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
        '404':
          description: Avatar not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'

  /user/avatar:
    post:
      tags: [user]
      operationId: userUploadAvatar
      summary: Upload a display picture (raw image bytes)
      description: |
        The request body is the raw image file (max 1 MiB), not JSON or multipart.
        The server normalizes it to a 512x512 JPEG (quality 85, EXIF stripped) and
        stores it in R2. users.profile_image is set to
        /api/v1/user/avatar/{user_id}?v={millis}.
      security:
        - AuthoritySign: []
          UserApiKey: []
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Display picture updated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          profile_image:
                            type: string
        '400':
          description: No image data received, or the bytes did not decode as an image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '413':
          description: Image larger than 1 MiB.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags: [user]
      operationId: userRemoveAvatar
      summary: Remove the display picture
      security:
        - AuthoritySign: []
          UserApiKey: []
      responses:
        '200':
          description: Display picture removed. data.profile_image is null.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          profile_image:
                            type: 'null'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/change-password:
    post:
      tags: [user]
      operationId: userChangePassword
      summary: Change or set the account password
      description: current_password is required only when the account already has one (Google accounts can set a first password without it).
      security:
        - AuthoritySign: []
          UserApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_password]
              properties:
                current_password:
                  type: ['string', 'null']
                new_password:
                  type: string
                  minLength: 8
                  maxLength: 47
      responses:
        '200':
          description: '"Password updated" or "Password set". data: {"password_set": true}.'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          password_set:
                            type: boolean
        '400':
          description: Invalid new password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Wrong current password, invalid X-Api-Key, or missing X-Authority-Sign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/update-profile:
    post:
      tags: [user]
      operationId: userUpdateProfile
      summary: Update country, bio and/or username
      description: |
        Username changes are limited to 2 per rolling 30 days. All provided fields are
        updated in one transaction. data on success is the fresh UserTokenData object.
      security:
        - AuthoritySign: []
          UserApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: ['string', 'null']
                  minLength: 2
                  maxLength: 2
                bio:
                  type: ['string', 'null']
                username:
                  type: ['string', 'null']
                  minLength: 3
                  maxLength: 30
                  pattern: '^[a-zA-Z0-9][a-zA-Z0-9._-]*$'
      responses:
        '200':
          description: Profile updated successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokenData'
        '400':
          description: Invalid country code or invalid username.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '409':
          description: Username taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          description: Username change limit reached. data.next_change_at is an RFC 3339 timestamp.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/info:
    get:
      tags: [user]
      operationId: userInfo
      summary: Get the authenticated user's profile
      security:
        - AuthoritySign: []
          UserApiKey: []
      responses:
        '200':
          description: User info fetched successfully. data is the UserTokenData object directly.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokenData'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'

  /user/username-status:
    get:
      tags: [user]
      operationId: userUsernameStatus
      summary: Remaining username changes in the current 30-day window
      security:
        - AuthoritySign: []
          UserApiKey: []
      responses:
        '200':
          description: Status returned.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          limit:
                            type: integer
                            const: 2
                          remaining:
                            type: integer
                            minimum: 0
                            maximum: 2
                          next_change_at:
                            type: ['string', 'null']
                            format: date-time
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/verify-email:
    post:
      tags: [user]
      operationId: userVerifyEmail
      summary: Verify the account email with the emailed OTP
      security:
        - AuthoritySign: []
          UserApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otp]
              properties:
                otp:
                  type: string
      responses:
        '200':
          description: Email verified successfully. data is the fresh UserTokenData.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokenData'
        '400':
          description: Already verified, or invalid OTP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/resend-verification:
    post:
      tags: [user]
      operationId: userResendVerification
      summary: Resend the email verification OTP
      description: Throttled to one send per 60 seconds.
      security:
        - AuthoritySign: []
          UserApiKey: []
      responses:
        '200':
          description: Verification code sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Already verified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/request-email-change:
    post:
      tags: [user]
      operationId: userRequestEmailChange
      summary: Stage an email change and send an OTP to the new address
      description: Calling again regenerates and resends the code (doubles as resend).
      security:
        - AuthoritySign: []
          UserApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Verification code sent. data.pending_email is the normalized new address.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          pending_email:
                            type: string
        '400':
          description: Email required, invalid, or already the current address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '409':
          description: Email already registered to another account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/confirm-email-change:
    post:
      tags: [user]
      operationId: userConfirmEmailChange
      summary: Confirm a staged email change with the OTP
      security:
        - AuthoritySign: []
          UserApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otp]
              properties:
                otp:
                  type: string
      responses:
        '200':
          description: Email updated successfully. data is the fresh UserTokenData.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserTokenData'
        '400':
          description: No pending email change, or invalid OTP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '409':
          description: Email already registered to another account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/support:
    post:
      tags: [user]
      operationId: userCreateSupportTicket
      summary: Submit a support ticket
      security:
        - AuthoritySign: []
          UserApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject, message]
              properties:
                category:
                  type: ['string', 'null']
                  description: Free-form; defaults to "other".
                subject:
                  type: string
                  minLength: 3
                message:
                  type: string
                  minLength: 5
                  maxLength: 5000
                email:
                  type: ['string', 'null']
                  description: Reply-to address; defaults to the account email.
      responses:
        '200':
          description: Message sent (ticket persisted; notification email is best effort).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Subject too short, message too short, or message too long.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      tags: [user]
      operationId: userListSupportTickets
      summary: List the authenticated user's tickets (newest first, max 100)
      security:
        - AuthoritySign: []
          UserApiKey: []
      responses:
        '200':
          description: Tickets fetched.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tickets:
                            type: array
                            items:
                              $ref: '#/components/schemas/SupportTicket'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/support/{id}:
    get:
      tags: [user]
      operationId: userGetSupportTicket
      summary: Get one of the user's tickets with its reply thread
      security:
        - AuthoritySign: []
          UserApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ticket fetched (replies oldest first).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          ticket:
                            $ref: '#/components/schemas/SupportTicket'
                          replies:
                            type: array
                            items:
                              $ref: '#/components/schemas/SupportReply'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/support/{id}/reply:
    post:
      tags: [user]
      operationId: userReplySupportTicket
      summary: Add a reply to one of the user's tickets (reopens closed tickets)
      security:
        - AuthoritySign: []
          UserApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 2
                  maxLength: 5000
      responses:
        '200':
          description: Reply added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Reply too short or too long.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  /user/support/{id}/status:
    post:
      tags: [user]
      operationId: userSetSupportTicketStatus
      summary: Open or close one of the user's own tickets
      security:
        - AuthoritySign: []
          UserApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [open, closed]
      responses:
        '200':
          description: Ticket updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Invalid status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedUser'
        '403':
          $ref: '#/components/responses/AccountBanned'
        '500':
          $ref: '#/components/responses/ServerError'

  # ------------------------------------------------------------------ file ---
  /file/create-files:
    post:
      tags: [file]
      operationId: fileCreateFiles
      summary: Register a chunked upload and get presigned PUT URLs
      description: |
        Creates the file row plus one chunk row per entry and returns an R2 presigned
        PUT URL per chunk; the client uploads bytes directly to R2 and then calls
        /file/mark-chunk-complete for each chunk. Bucket is chosen by ownership:
        user_id present means "sanctum", absent means "shadow" (anonymous).
        Anonymous uploads are capped at 50 GB per IP per rolling 24 hours.
        The storage_type field is accepted but currently ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_encrypted, file_name, file_mime, file_size, chunks, sha256_checksum, blake3_checksum, public_access]
              properties:
                storage_type:
                  type: ['string', 'null']
                  description: Ignored; bucket is derived from user_id presence.
                user_id:
                  type: ['string', 'null']
                file_encrypted:
                  type: boolean
                file_name:
                  type: string
                file_mime:
                  type: string
                file_size:
                  type: integer
                  format: int64
                chunks:
                  type: array
                  items:
                    type: object
                    required: [start, end, size, checksum]
                    properties:
                      start: {type: integer, format: int64}
                      end: {type: integer, format: int64}
                      size: {type: integer, format: int64}
                      checksum: {type: string}
                      salt: {type: ['string', 'null']}
                      nonce: {type: ['string', 'null']}
                sha256_checksum:
                  type: string
                blake3_checksum:
                  type: string
                public_access:
                  type: boolean
                folder_id:
                  type: ['string', 'null']
                owner_api_key:
                  type: ['string', 'null']
                  description: Anonymous owner key (shadow uploads).
      responses:
        '200':
          description: File upload started. Each chunk's presigned_url is an R2 PUT URL.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          file:
                            $ref: '#/components/schemas/File'
                          chunks:
                            type: array
                            items:
                              $ref: '#/components/schemas/Chunk'
        '403':
          description: Account banned/restricted, IP banned, or the anonymous 50 GB daily limit was hit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/mark-chunk-complete:
    post:
      tags: [file]
      operationId: fileMarkChunkComplete
      summary: Mark a chunk as uploaded
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chunk_id]
              properties:
                chunk_id:
                  type: string
      responses:
        '200':
          description: Chunk marked as complete (also refreshes files.uploaded_chunks).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/fetch-files:
    post:
      tags: [file]
      operationId: fileFetchFile
      summary: Fetch one file record by id
      description: No ownership check; possession of the id suffices (the calling backend gates access).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_id]
              properties:
                file_id:
                  type: string
      responses:
        '200':
          description: File found.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          file:
                            $ref: '#/components/schemas/File'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/delete-files:
    post:
      tags: [file]
      operationId: fileDeleteFile
      summary: Soft-delete a file (trash)
      description: api_key must match the file's owner_api_key, or belong to the user who owns the file.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileKeyOwnershipPayload'
      responses:
        '200':
          description: File deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          $ref: '#/components/responses/OwnershipMismatch'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/restore-files:
    post:
      tags: [file]
      operationId: fileRestoreFile
      summary: Restore a soft-deleted file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileKeyOwnershipPayload'
      responses:
        '200':
          description: File restored successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          $ref: '#/components/responses/OwnershipMismatch'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/permanent-delete-files:
    post:
      tags: [file]
      operationId: filePermanentDeleteFile
      summary: Permanently delete a file row
      description: Hard delete; chunk rows cascade in the database. R2 objects are cleaned up separately (WatchCat GC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileKeyOwnershipPayload'
      responses:
        '200':
          description: File permanently deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          $ref: '#/components/responses/OwnershipMismatch'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/list-files:
    post:
      tags: [file]
      operationId: fileListFiles
      summary: List a user's files (folder view, starred, shared, or trash)
      description: |
        Filter precedence: starred=true, then shared=true (share_type != 'off'), then
        deleted=true (flat trash list, folder_id ignored), else the normal folder view
        (folder_id null means root). Ordered newest first. user_id is trusted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: {type: string}
                folder_id: {type: ['string', 'null']}
                starred: {type: ['boolean', 'null']}
                shared: {type: ['boolean', 'null']}
                deleted: {type: ['boolean', 'null']}
      responses:
        '200':
          description: Files retrieved successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          files:
                            type: array
                            items:
                              $ref: '#/components/schemas/File'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/update-files:
    post:
      tags: [file]
      operationId: fileUpdateFile
      summary: Move a file to another folder
      description: Ownership enforced in SQL against the api_key of user_id. Only the folder can be changed today.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_id, user_id]
              properties:
                file_id: {type: string}
                user_id: {type: string}
                new_folder_id:
                  type: ['string', 'null']
                  description: Null moves the file to the root.
      responses:
        '200':
          description: File updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          description: File not found or access denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/create-folders:
    post:
      tags: [file]
      operationId: fileCreateFolder
      summary: Create a folder (file-module variant)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: {type: string}
                user_id: {type: ['string', 'null']}
                parent_id: {type: ['string', 'null']}
                owner_api_key: {type: ['string', 'null']}
      responses:
        '201':
          description: Folder created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id: {type: string}
                          name: {type: string}
                          created_on: {type: string, format: date-time}
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/fetch-folders:
    post:
      tags: [file]
      operationId: fileFetchFolders
      summary: List a user's folders (tree level, starred, shared, or trash)
      description: |
        Filter precedence: starred, then shared, then deleted (all trashed folders),
        then children of parent_id, else root folders. count is the number of
        direct non-deleted children (files plus subfolders).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: {type: string}
                parent_id: {type: ['string', 'null']}
                starred: {type: ['boolean', 'null']}
                shared: {type: ['boolean', 'null']}
                deleted: {type: ['boolean', 'null']}
      responses:
        '200':
          description: Folders fetched.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          folders:
                            type: array
                            items:
                              type: object
                              properties:
                                id: {type: string}
                                name: {type: string}
                                created_on: {type: string, format: date-time}
                                parent_id: {type: ['string', 'null']}
                                count: {type: integer, format: int64}
                                starred: {type: boolean}
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/delete-folders:
    post:
      tags: [file]
      operationId: fileDeleteFolder
      summary: Soft-delete a folder (file-module variant)
      description: Requires user_id or api_key for ownership; user_id wins when both are present. Does not cascade.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id]
              properties:
                folder_id: {type: string}
                user_id: {type: ['string', 'null']}
                api_key: {type: ['string', 'null']}
      responses:
        '200':
          description: Folder deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Missing user_id or api_key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          description: Folder not found or access denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/fetch-chunks:
    post:
      tags: [file]
      operationId: fileFetchChunks
      summary: Get presigned GET URLs for a file's uploaded chunks
      description: No ownership check; any file_id yields download URLs. Chunks are ordered by index and limited to uploaded ones.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_id]
              properties:
                file_id:
                  type: string
      responses:
        '200':
          description: Chunks retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          chunks:
                            type: array
                            items:
                              $ref: '#/components/schemas/ChunkDownload'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/fetch-resource:
    post:
      tags: [file]
      operationId: fileFetchResource
      summary: Resolve an id to a file or folder (with folder contents)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
      responses:
        '200':
          description: Resource found. data.resource_type is "file" or "folder"; folder results include child files and subfolders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - type: object
                            properties:
                              resource_type: {type: string, const: file}
                              file: {$ref: '#/components/schemas/File'}
                          - type: object
                            properties:
                              resource_type: {type: string, const: folder}
                              folder: {$ref: '#/components/schemas/Folder'}
                              files:
                                type: array
                                items: {$ref: '#/components/schemas/File'}
                              folders:
                                type: array
                                items: {$ref: '#/components/schemas/Folder'}
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/star/file:
    post:
      tags: [file]
      operationId: fileStarFile
      summary: Star or unstar a file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file_id, user_id, starred]
              properties:
                file_id: {type: string}
                user_id: {type: string}
                starred: {type: boolean}
      responses:
        '200':
          description: File star status updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/star/folder:
    post:
      tags: [file]
      operationId: fileStarFolder
      summary: Star or unstar a folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id, user_id, starred]
              properties:
                folder_id: {type: string}
                user_id: {type: string}
                starred: {type: boolean}
      responses:
        '200':
          description: Folder star status updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/share/toggle:
    post:
      tags: [file]
      operationId: fileShareToggle
      summary: Set share type, expiry and password on a file or folder
      description: |
        Exactly one of file_id/folder_id is required (file_id wins if both are sent).
        A share token is generated on first enable and kept afterwards. Optional
        fields only apply when present: expires_in_days > 0 sets an expiry, 0 or
        negative clears it; password sets a password (stored as SHA-256);
        clear_password removes it. share_type values are off, public and once by
        convention (not enforced server side).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, share_type]
              properties:
                user_id: {type: string}
                file_id: {type: ['string', 'null']}
                folder_id: {type: ['string', 'null']}
                share_type:
                  type: string
                  description: off, public or once (by convention).
                expires_in_days: {type: ['integer', 'null'], format: int64}
                password: {type: ['string', 'null']}
                clear_password: {type: ['boolean', 'null']}
      responses:
        '200':
          description: Share settings updated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ShareSettings'
        '400':
          description: Missing file_id or folder_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/share/regenerate:
    post:
      tags: [file]
      operationId: fileShareRegenerate
      summary: Regenerate the share token (resets link download count)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: {type: string}
                file_id: {type: ['string', 'null']}
                folder_id: {type: ['string', 'null']}
      responses:
        '200':
          description: Token regenerated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          share_token:
                            type: ['string', 'null']
        '400':
          description: Missing file_id or folder_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/share/info/{id}:
    get:
      tags: [file]
      operationId: fileShareInfo
      summary: Get share settings for an owned file or folder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: File or folder id (file checked first).
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Share info retrieved. data.type is "file" or "folder".
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - type: object
                            properties:
                              type:
                                type: string
                                enum: [file, folder]
                          - $ref: '#/components/schemas/ShareSettings'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'

  /file/public/share/info/{token}:
    get:
      tags: [file]
      operationId: filePublicShareInfo
      summary: Resolve a public share token (no password needed)
      description: |
        Called by the web server for anonymous visitors. Reports metadata and whether
        a password is required; does not authorize downloads. Expired links and
        exhausted one-time links return 410.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: '"File found" or "Folder found". Folder results list direct child files.'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - type: object
                            properties:
                              type: {type: string, const: file}
                              id: {type: string}
                              name: {type: string}
                              size: {type: integer, format: int64}
                              mime: {type: string}
                              encrypted: {type: boolean}
                              password_required: {type: boolean}
                              expires_at: {type: ['string', 'null'], format: date-time}
                          - type: object
                            properties:
                              type: {type: string, const: folder}
                              id: {type: string}
                              name: {type: string}
                              files:
                                type: array
                                items:
                                  $ref: '#/components/schemas/PublicSharedFile'
                              password_required: {type: boolean}
                              expires_at: {type: ['string', 'null'], format: date-time}
        '404':
          description: Invalid or expired link (unknown token).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '410':
          description: Link expired or one-time download limit reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/public/share/authorize:
    post:
      tags: [file]
      operationId: filePublicShareAuthorize
      summary: Authorize a public share download (checks password, counts the download)
      description: |
        Increments link_downloads on success. For file shares, returns presigned GET
        URLs for all uploaded chunks; for folder shares, returns the direct child
        file listing (fetch per-file chunks via /file/public/share/fetch-chunks).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: {type: string}
                password: {type: ['string', 'null']}
      responses:
        '200':
          description: Download authorized.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - type: object
                            properties:
                              type: {type: string, const: file}
                              id: {type: string}
                              chunks:
                                type: array
                                items:
                                  $ref: '#/components/schemas/ChunkDownload'
                          - type: object
                            properties:
                              type: {type: string, const: folder}
                              folder_id: {type: string}
                              files:
                                type: array
                                items:
                                  $ref: '#/components/schemas/PublicSharedFile'
        '401':
          description: Incorrect password (data.password_required is true), or missing X-Authority-Sign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          description: Invalid link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '410':
          description: Link expired or one-time download limit reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '500':
          $ref: '#/components/responses/ServerError'

  /file/public/share/fetch-chunks:
    post:
      tags: [file]
      operationId: filePublicShareFetchChunks
      summary: Get chunk download URLs for a file inside a shared folder
      description: The file must be a direct child of the folder behind the share token. Does not increment link_downloads.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, file_id]
              properties:
                token:
                  type: string
                  description: Folder share token.
                file_id:
                  type: string
                password:
                  type: ['string', 'null']
      responses:
        '200':
          description: Chunks retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          type: {type: string, const: file_chunks}
                          file_id: {type: string}
                          chunks:
                            type: array
                            items:
                              $ref: '#/components/schemas/ChunkDownload'
        '401':
          description: Incorrect password, or missing X-Authority-Sign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          description: Invalid folder token, or file not found in this folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '410':
          description: Link expired or one-time download limit reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '500':
          $ref: '#/components/responses/ServerError'

  # ---------------------------------------------------------------- folder ---
  /folder/create:
    post:
      tags: [folder]
      operationId: folderCreate
      summary: Create a folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: {type: string}
                user_id: {type: ['string', 'null']}
                parent_id: {type: ['string', 'null']}
                uploaded_as_files:
                  type: ['boolean', 'null']
                  default: false
                owner_api_key: {type: ['string', 'null']}
      responses:
        '200':
          description: Folder created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          folder:
                            $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /folder/list:
    post:
      tags: [folder]
      operationId: folderList
      summary: Fetch a folder with its child files and subfolders
      description: No ownership check; any caller with the authority sign can fetch any folder by id. Child files exclude deleted ones; subfolders are not filtered by deleted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id]
              properties:
                folder_id:
                  type: string
      responses:
        '200':
          description: Folder contents retrieved.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          folder:
                            $ref: '#/components/schemas/Folder'
                          files:
                            type: array
                            items:
                              $ref: '#/components/schemas/File'
                          folders:
                            type: array
                            items:
                              $ref: '#/components/schemas/Folder'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /folder/update:
    post:
      tags: [folder]
      operationId: folderUpdate
      summary: Rename and/or move a folder
      description: Omitted fields are left unchanged. move_to_root true overrides new_parent_id and moves the folder to the root. Only a direct self-parent move is rejected (no deep cycle detection).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id, user_id]
              properties:
                folder_id: {type: string}
                user_id: {type: string}
                new_name: {type: ['string', 'null']}
                new_parent_id: {type: ['string', 'null']}
                move_to_root: {type: ['boolean', 'null']}
      responses:
        '200':
          description: Folder updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Cannot move folder into itself.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          description: Folder not found or access denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /folder/delete:
    post:
      tags: [folder]
      operationId: folderDelete
      summary: Soft-delete a folder (trash)
      description: Does not cascade to subfolders or files.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id, user_id]
              properties:
                folder_id: {type: string}
                user_id: {type: string}
      responses:
        '200':
          description: Folder deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          description: Folder not found or access denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /folder/permanent-delete:
    post:
      tags: [folder]
      operationId: folderPermanentDelete
      summary: Permanently delete a folder (children cascade in the database)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id, api_key]
              properties:
                folder_id: {type: string}
                api_key:
                  type: string
                  description: Must match the folder's owner_api_key or belong to its owning user.
      responses:
        '200':
          description: Folder permanently deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          $ref: '#/components/responses/OwnershipMismatch'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /folder/restore:
    post:
      tags: [folder]
      operationId: folderRestore
      summary: Restore a soft-deleted folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folder_id, api_key]
              properties:
                folder_id: {type: string}
                api_key: {type: string}
      responses:
        '200':
          description: Folder restored successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          $ref: '#/components/responses/OwnershipMismatch'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /folder/stats:
    post:
      tags: [folder]
      operationId: folderStats
      summary: Count descendant folders and files of a folder tree
      description: |
        Note the response is double nested; the counts live under data.data. When the
        folder id and user id do not match anything, the endpoint still returns 200
        with folders set to -1 (there is no 404 branch).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, folder_id]
              properties:
                user_id: {type: string}
                folder_id: {type: string}
      responses:
        '200':
          description: Stats calculated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              total_items: {type: integer, format: int64}
                              folders: {type: integer, format: int64}
                              files: {type: integer, format: int64}
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  # --------------------------------------------------------------- billing ---
  /billing/order:
    post:
      tags: [billing]
      operationId: billingCreateOrder
      summary: Create a Razorpay order (or complete it free after a 100% promo)
      description: |
        Only gateway "razorpay" is supported. The user must have a country set on
        their profile. Priced combinations: order_type "plan" with identifier "pro",
        or order_type "quota" with identifier "1tb", "5tb", "10tb" or "20tb"; currency
        USD, EUR or INR. When a promo discounts the amount to 0 the order completes
        immediately (payment_gateway "free") and benefits are applied. In
        non-production (APP_ENV) the amount is floored to 1 currency unit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_type, identifier, currency, user_id, gateway]
              properties:
                order_type:
                  type: string
                  enum: [plan, quota]
                identifier:
                  type: string
                  enum: [pro, 1tb, 5tb, 10tb, 20tb]
                currency:
                  type: string
                  enum: [USD, EUR, INR]
                user_id:
                  type: string
                gateway:
                  type: string
                  enum: [razorpay]
                promo_code:
                  type: ['string', 'null']
      responses:
        '200':
          description: |
            "Order created" (paid path) with the Razorpay order id, amount in minor
            units and public key id, or "Order completed (Free)" with amount 0.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - type: object
                            description: Paid order (hand to Razorpay checkout).
                            properties:
                              order_id: {type: string}
                              amount: {type: integer, format: int64}
                              currency: {type: string}
                              key_id: {type: string}
                          - type: object
                            description: Free order, benefits already applied.
                            properties:
                              success: {type: boolean, const: true}
                              amount: {type: integer, const: 0}
                              currency: {type: string}
        '400':
          description: Unsupported gateway, missing profile country, invalid plan/identifier, or invalid promo code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /billing/verify:
    post:
      tags: [billing]
      operationId: billingVerifyPayment
      summary: Verify a Razorpay checkout signature and apply benefits
      description: |
        Verifies the HMAC-SHA256 signature over "{order_id}|{payment_id}" with the
        Razorpay secret. On success marks the order completed and grants the storage
        quota or creates the Pro subscription (single 1-month grant). Idempotent for
        already-completed orders. Client driven; there is no webhook fallback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, payment_id, signature]
              properties:
                order_id:
                  type: string
                  description: Razorpay order id (orders.reference_id).
                payment_id:
                  type: string
                signature:
                  type: string
      responses:
        '200':
          description: '"Payment Verified and Benefits Applied" or "Payment Verified (Already Processed)".'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          success:
                            type: boolean
        '400':
          description: Invalid signature, or the order's gateway does not support verification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /billing/check-promo:
    post:
      tags: [billing]
      operationId: billingCheckPromo
      summary: Validate a billing promo code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        '200':
          description: Promo code is valid.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          valid: {type: boolean, const: true}
                          discount_percentage: {type: integer}
                          duration: {type: string}
        '400':
          description: Invalid or expired promo code (data.valid is false).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /billing/history:
    get:
      tags: [billing]
      operationId: billingHistory
      summary: Order history for a user (newest first)
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order history fetched successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          orders:
                            type: array
                            items:
                              $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /billing/usage:
    get:
      tags: [billing]
      operationId: billingUsage
      summary: Bytes used by a user's non-deleted files
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Usage fetched successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          used_bytes:
                            type: integer
                            format: int64
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  # ------------------------------------------------------------------ auth ---
  /auth/early-access:
    post:
      tags: [auth]
      operationId: authEarlyAccess
      summary: Save an early access request email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Request saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Invalid email address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '409':
          description: Already requested early access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  # ----------------------------------------------------------------- admin ---
  /admin/login:
    post:
      tags: [admin]
      operationId: adminLogin
      summary: Admin login (argon2 verified against admin_users)
      description: |
        Returns the admin identity on success. Note there is no server-enforced admin
        session or token after this; all /admin routes are equally reachable with the
        X-Authority-Sign header alone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email}
                password: {type: string}
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          admin:
                            type: object
                            properties:
                              id: {type: string}
                              email: {type: string}
                              role: {type: string}
        '400':
          description: Email validation errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Invalid credentials, or missing X-Authority-Sign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/invites:
    get:
      tags: [admin]
      operationId: adminListInvites
      summary: List all invite codes (newest first, unbounded)
      responses:
        '200':
          description: Invites fetched successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          invites:
                            type: array
                            items:
                              $ref: '#/components/schemas/InviteCode'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags: [admin]
      operationId: adminCreateInvite
      summary: Create an invite code (server-generated, SCxx-xxxx-xxxx-xxxx)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_type, description, benefit]
              properties:
                account_type:
                  type: string
                  description: Account type the invite applies to (e.g. personal).
                description:
                  type: string
                benefit:
                  type: string
                  description: e.g. "100GB", "1m-pro", "3m-pro", "6m-pro", "1y-pro".
      responses:
        '200':
          description: Invite created successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          invite:
                            $ref: '#/components/schemas/InviteCode'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/invites/{code}:
    delete:
      tags: [admin]
      operationId: adminDeleteInvite
      summary: Delete an invite code (200 even if it did not exist)
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/promos:
    get:
      tags: [admin]
      operationId: adminListPromos
      summary: List billing promo codes
      responses:
        '200':
          description: Promos fetched successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          promos:
                            type: array
                            items:
                              $ref: '#/components/schemas/PromoCode'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags: [admin]
      operationId: adminCreatePromo
      summary: Create a billing promo code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
      responses:
        '200':
          description: Promo created successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          promo:
                            $ref: '#/components/schemas/PromoCode'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          description: Database error, including unique violation on a duplicate code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'

  /admin/signup-promos:
    get:
      tags: [admin]
      operationId: adminListSignupPromos
      summary: List signup promo codes (newest first)
      responses:
        '200':
          description: Promos fetched.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          promos:
                            type: array
                            items:
                              $ref: '#/components/schemas/SignupPromo'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags: [admin]
      operationId: adminCreateSignupPromo
      summary: Create a signup promo code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, bonus_bytes]
              properties:
                code: {type: string}
                description: {type: string, default: ""}
                bonus_bytes:
                  type: integer
                  format: int64
                  exclusiveMinimum: 0
                duration_days: {type: ['integer', 'null']}
                max_uses: {type: ['integer', 'null']}
                active: {type: boolean, default: true}
      responses:
        '201':
          description: Promo created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          code:
                            type: string
        '400':
          description: Code required, or bonus_bytes not greater than 0.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '409':
          description: A promo with that code already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/signup-promos/{code}:
    delete:
      tags: [admin]
      operationId: adminDeleteSignupPromo
      summary: Delete a signup promo (200 even if it did not exist)
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Promo deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/signup-promos/{code}/toggle:
    post:
      tags: [admin]
      operationId: adminToggleSignupPromo
      summary: Toggle a signup promo's active flag
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Promo toggled. data has code and the new active value.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          code: {type: string}
                          active: {type: boolean}
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/anon-users:
    get:
      tags: [admin]
      operationId: adminListAnonUsers
      summary: List anonymous users (most recently seen, max 100)
      responses:
        '200':
          description: Anonymous users fetched successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          users:
                            type: array
                            items:
                              $ref: '#/components/schemas/AnonymousUser'
        '401':
          $ref: '#/components/responses/UnauthorizedOrigin'
        '500':
          $ref: '#/components/responses/ServerError'

  /admin/orders:
    get:
      tags: [admin]
      operationId: adminListOrders
      summary: List orders (newest first, max 100)
      responses:
        '200':
          description: Orders fetched successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
[...]
